<modal>
	<div ng-show="investModal" ng-controller="portInvestController">	
		<article class="modal-step-1-2 ng-hide" ng-hide="modalStep_1_2">
			<div class="cont-title">CHECK OUT</div>	
			<ul class="table-row">
				<li class="col-6-12">
					<div class="row-title">TOTAL AMOUNT TO PAY</div>
				</li>
				<li class="col-6-12 last-col">
					<div class="cont-amount"><span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span>{{ invProdAmt | number : 2 }}</div>
				</li>
			</ul>
		</article>	

		<article class="modal-step-1 ng-hide" ng-hide="modalStep_1">
			<div ng-repeat="product in portfolio" ng-if="product['selected']">
				<ul class="table-row">
					<li class="col-6-12 prod-col">
			       		<span class="prod-icon fixed"></span>
			       		<span class="prod-type">{{ product.prodType }}</span>
			       		<span class="prod-term">{{ product.prodTerm }}</span>
			       		<p class="prod-desc">{{ product.prodDesc }}</p>
				    </li>
				    <li class="col-3-12 rate-col">
			       		<span class="prod-percent">{{ product.intRate }}</span>
			       		<span class="prod-pa">P.A.</span>
				    </li>
				    <li class="col-3-12 last-col amount-col">
				    	<div class="pound-icon"><span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span></div>
				       	<input class="amount-pound" ng-model="product.pound" ng-change="updateValueInvest(product)" type="text" allow-numbers-only="" format-amount="product" id="port-inv{{$index}}" >
				       	<div class="line"></div>
				    </li>
				</ul>
				<p class="amount-error inv-err" ng-class="{'visible': product.invAmtError}">Please enter correct amount.</p>
				<div class="modal-btn-center">
					<button type="button" class="ldb-button invest-btn" ng-click="debitCardTransfer(product)">PAY BY DEBIT CARD</button>
				</div>
			</div>					
		</article>	

		<article class="modal-step-2 ng-hide" ng-hide="modalStep_2">
			<div class="cont-title">Secured Payment Getway</div>
			<div class="debit-card">
				<div class="cards-img">
					<img src="assets/cards.png"/>
				</div>
				<form>
					<div class="form-control">
						<label for="">Name on card<span>*</span></label> 
						<input type="text" value="John Doe" name="" id="">
					</div>
					<div class="form-control">
						<div class="card-number">
							<label for="card-number">Card number<span>*</span></label>  
							<input type="text" value="1234 2345 3456" name="" id="card-number">
						</div>
						<div class="security-code">
							<label for="security-code">Security code<span>*</span></label> 
							<input type="text" value="123" name="" id="security-code">
						</div>	
					</div>
					<div class="form-control">
						<p class="exp-label">Expiry date<span>*</span></p> 
						<div class="expiry-date">
							<select class="exp-month">
								<option value="">January</option>
								<option value="">February</option>
								<option value="">March</option>
								<option value="">April</option>
								<option value="">May</option>
								<option value="">June</option>
								<option value="">July</option>
								<option value="">August</option>
								<option value="">September</option>
								<option value="">October</option>
								<option value="">November</option>
								<option value="">December</option>
							</select>
							<select class="exp-year">
								<option value="">2018</option>
								<option value="">2017</option>
								<option value="">2016</option>
							</select>
						</div>
					</div>
					<div class="modal-btn-outer">
						<button type="button" class="ldb-button invest-btn" ng-click="purchaseByDbtCard()">PURCHASE</button>
					</div>
				</form>
			</div>
			<button type="button" class="modal back-btn" ng-click="modalBackBtn()"></button>
		</article>

		<article class="modal-step-3 ng-hide" ng-hide="modalStep_3">
			<div class="cont-title">Thank you for lending with Landbay.</div>
			<div class="modal-btn-outer">
				<button type="button" class="ldb-button invest-btn" ng-click="backToPortfolio()">BACK TO PORTFOLIO</button>
			</div>
		</article>
	</div>

	<div ng-show="withdrawModal" class="withdraw-modal" ng-controller="portWithdrawController">
		<article class="modal-step-1 ng-hide" ng-hide="modalStep_1">
			<div class="cont-title">WITHDRAWAL</div>
			<p class="prod-desc row main-desc">Lorem ipsum dolor sit amet, consec tetur adipi scing elit dolore aliqua. Lorem ipsum dolor sit amet.</p>
			<div class="line top"></div>
			<div ng-repeat="product in portfolio" ng-if="product['selected']">
				<ul class="table-row">
					<li class="col-5-12">
			       		<span class="prod-icon {{ product.prodIcon }}"></span>
			       		<div class="row-cell-elem">
			       			<p class="prod-type">{{ product.prodType }}</p>
				       		<span class="prod-rate">{{ product.intRate }} <span>P.A.</span></span>
				       		<p class="prod-term"> {{ product.prodTerm }}</p>
			       		</div>
				    </li>
				    <li class="col-4-12">
				    	<p>AMOUNT AVAILABLE</p>
				    	<p class="modal-amount"><span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span>{{ product.availableFunds | number : 2 }}</p>
				    </li>
				    <li class="col-3-12 last-col">
				    	<div class="pound-icon"><span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span></div>
				    	<input class="amount-pound" ng-model="product.pound" ng-change="updateValueWithdraw(product)" type="text" allow-numbers-only="" format-amount="product" id="port-wdr{{$index}}" >
				       	<div class="line"></div>
				       	<p class="amount-error wdr-err" ng-show="product.wdrAmtError">Please enter correct amount.</p>
					</li>
			    </ul>
			    <ul class="table-row last-row">
			    	<li class="col-1-2">
			    		<div class="cont-title">TOTAL WITHDRAWAL REQUEST</div>
					</li>
					<li class="col-1-2 cont-amount last-col">
						<span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span>{{ wdrProdAmt | number : 2 }}
					</li>
			    </ul> 
				<div class="modal-btn-center">
					<button type="button" class="ldb-button withdraw-btn" ng-click="withdraw(product)">WITHDRAW</button>
				</div>
				<p class="total-withdraw">Total withdrawal request: <strong><span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span>{{ product.amtWithdrawn | number : 2 }}</strong></p> 
			</div>   
		</article>	

		<article class="modal-step-2 ng-hide" ng-hide="modalStep_2">
			<div class="cont-title">CONFIRM WITHDRAWAL</div>
			<ul class="table-row first-row">
		    	<li class="col-1-2">
		    		<div class="cont-title">TOTAL WITHDRAWAL REQUEST</div>
				</li>
				<li class="col-1-2 cont-amount last-col">
					<span class="trusted-symbol" ng-bind-html="trustedPoundSymbol"></span>{{ wdrProdAmt | number : 2  }}
				</li>
		    </ul>
			<ul class="table-row last-row">
		    	<li class="col-1-3">
		    		<div class="cont-title">BANK ACCOUNT</div>
				</li>
				<li class="col-1-3">
					HSBC BANK PLC account
				</li>
				<li class="col-1-3 last-col">
					<strong>12345678</strong>
				</li>
		    </ul>
			<div class="modal-btn-center">
				<button type="button" class="ldb-button withdraw-btn" ng-click="withdrawConfirm()">CONFIRM</button>
			</div>
			<button type="button" class="modal back-btn" ng-click="modalBackBtn()"></button>
		</article>

		<article class="modal-step-3 ng-hide" ng-hide="modalStep_3">
			<div class="cont-title">Thank you. We received your request.</div>
			<div class="modal-btn-outer">
				<button type="button" class="ldb-button withdraw-btn" ng-click="backToPortfolio()">BACK TO PORTFOLIO</button>
			</div>
		</article>
	</div>
	<button type="button" class="modal close-btn" ng-click="closeModal()"></button>      	
</modal>
